@model ChangePasswordViewModel
<ul class="nav nav-tabs py-3" id="myTab" role="tablist">
    <!-- Account page navigation-->
    <li class="nav-item ">
        <a asp-route="AdminProfile" class="nav-link">Thông tin người quản trị</a>
    </li>
    <li class="nav-item">
        <a asp-route="AdminChangePassword" class="nav-link active">Đổi mật khẩu</a>
    </li>
</ul>
<hr class="mt-0 mb-4">
<div class="tab-content">
    <div class="tab-pane fade show active">
        <!-- Change password card-->
        <div class="card mb-4">
            <div class="card-header">Change Password</div>
            <div class="card-body">
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="OldPassword"></label>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Đổi mật khẩu</button>
                </form>
            </div>
        </div>
    </div>
</div>